$("div.alert.alert-danger").remove();
<% errors = resource.errors.full_messages.map { |msg| content_tag(:li, msg) }.join %>
$("div#register").prepend("<div class='alert alert-danger'><%=raw errors%></div>");