<div class="content-block">
  <div class="block-header">
    <h4>Upload Photos or videos</h4>
  </div>
  <div class="block-body">
    <div class="images-upload-container">
      <div class="main-image-wrapper image-item image-placeholder">
        <img src="" alt="">
        <a href="#" class="add-item" data-behavior='upload_image' data-entity-type='<%= type %>'>
          <i class="zmdi zmdi-camera-add"></i>
          <span>Add photo</span>
        </a>
      </div>
      <div class="images-list">
      </div>
    </div>
  </div>
</div>
