.flexslider-container {
  padding: 20px;

  .flexslider {
    margin-bottom: 0;
    border: none;

    &.images-slider {
      margin-bottom: 20px;

      .slides {
        li {
          height: 320px;
        }
      }
      .flex-direction-nav {
        display: none;
      }
    }
    &.images-carousel {
      .slides {
        li {
          height: 100px;
        }
      }
    }

    .slides {
      li {
        position: relative;
        border-radius: 3px;
        overflow: hidden;

        img {
          width: auto;
          height: auto;
          min-height: 100%;
          min-width: 100%;
          @include position-abs-vh-center;
        }
      }
    }
    .flex-direction-nav {
      li {
        a {
          width: 45px;
          height: 55px;
          background-color: rgba(237, 31, 36, .8);
          margin: -28px 0 0;
          opacity: 1;
          font-size: 0;
          display: flex;

          &:before {
            font: {
              family: 'Material-Design-Iconic-Font';
              size: 48px;
            };
            color: #fff;
            line-height: 28px;
            margin: auto;
          }
          &.flex-prev {
            left: 0;
            border-radius: 0 4px 4px 0;

            &:before {
              content: '\f2fa';
            }
          }
          &.flex-next {
            right: 0;
            border-radius: 4px 0 0 4px;

            &:before {
              content: '\f2fb';
            }
          }
          &.flex-disabled {
            opacity: .7 !important;
            z-index: 1;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .flexslider-container {

    .flexslider {
      &.images-slider {
        margin-bottom: 0;

        .flex-direction-nav {
          display: block;
        }
      }
      &.images-carousel {
        display: none;
      }
    }
  }
}