<div class="widget collapsible-widget">
  <div class="widget-header">
    <span class="title with-icon"><i class="zmdi zmdi-accounts-alt"></i>Members</span>
  </div>
  <div class="widget-body">
    <div class="options">
      <span>Latest Members</span>
      <a href="#">See All</a>
    </div>
    <div class="widget-items-list">
      <div class="item boxed-item">
        <a href="#" class="avatar-container">
          <img class="avatar-img" src="images/avatars/user-15-avatar.jpg" alt="">
        </a>
        <div class="info-container">
          <a href="#" class="item-title">William Hummingbird</a>
        </div>
      </div>
      <div class="item boxed-item" href="#">
        <a href="#" class="avatar-container">
          <img class="avatar-img" src="images/avatars/user-16-avatar.jpg" alt="">
        </a>
        <div class="info-container">
          <a href="#" class="item-title">Diana Wayne-Johnson</a>
        </div>
      </div>
    </div>
    <div class="buttons-container mt-20">
      <button data-toggle="modal" data-target="#manageUsers" class="btn btn-primary btn-block btn-small"><span>Manage users</span></button>
    </div>
  </div>
</div>
