<div class='alert callout small medium-12 columns' data-closable>
  <i class="fi-alert"></i> <%= message %>
  <button class='close-button' aria-label='Dismiss alert' type='button' data-close>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
