<div class='mobile-menu'>
  <ul>
    <li>
      <a href='http://motor.valeda.co/login.html'><i class='ion-ios-home-outline'></i></a>
    </li>
    <li>
      <a href='http://motor.valeda.co/my_profile.html'><i class='ion-ios-person-outline'></i></a>
    </li>
    <li class='active'>
      <a href='http://motor.valeda.co/settings.html'><i class='ion-ios-gear-outline'></i></a>
    </li>
    <li>
      <%= render partial: 'shared/secondary_menu_dropdown' %>
    </li>
  </ul>
</div>
