<div class="dropdown">
  <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <a href="#"><i class="zmdi zmdi-more"></i></a>
  </div>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
    <div class="dropdown-body">
      <%= link_to 'Create Company', new_company_path, class: 'dropdown-item' %>
      <%= link_to 'Create Event', new_event_path, class: 'dropdown-item' %>
      <%= link_to 'Create Group', new_group_path, class: 'dropdown-item' %>
      <%= link_to 'Create Motor', new_motor_path, class: 'dropdown-item' %>
    </div>
  </div>
</div>
