<div class="widget">
  <div class="widget-header">
    <span class="title with-icon"><i class="zmdi zmdi-share"></i>Share Profile</span>
  </div>
  <div class="widget-body">
    <ul class="socials-list">
      <li><a href="#"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
      <li><a href="#"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
      <li><a href="#"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span></a></li>
      <li><a href="#"><span><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a></li>
      <li><a href="#"><span><i class="fa fa-envelope" aria-hidden="true"></i></span></a></li>
    </ul>
  </div>
</div>
