<div class="sidebar-footer">
  <div class="license-menu-container">
    <ul class="license-menu">
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Legal Terms</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <p class="copyright">© 2017 MotorBrag Ltd.</p>
</div>
