<div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videosTab">
  <div class="main-container">
      <div class="content-container full-width">
          <div class="content-block gallery-section videos-gallery">
              <div class="gallery-item">
                  <a class="fancyimage" data-fancybox="videoGallery1" href="https://vimeo.com/video/213944440?color=e51414&title=0&byline=0&portrait=0">
                      <img src="../assets/gallery-images/black-and-silver-cruiser-motorcycle-169701.jpg" alt="">
                      <span class="views-stats top left"><i class="zmdi zmdi-eye"></i>101 views</span>
                      <span class="views-stats top right"><i class="zmdi zmdi-time"></i>1m 23s</span>
                      <span class="play-btn">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="59" height="59" viewBox="0 0 59 59">
                            <defs>
                              <style>
                                .i-play {
                                    fill: #fff;
                                    fill-rule: evenodd;
                                    filter: url(#filterPlayBtn);
                                }
                              </style>
                              <filter id="filterPlayBtn" x="692" y="717" width="59" height="59" filterUnits="userSpaceOnUse">
                                <feOffset result="offset" dy="2" in="SourceAlpha"/>
                                <feGaussianBlur result="blur" stdDeviation="2.828"/>
                                <feFlood result="flood" flood-opacity="0.55"/>
                                <feComposite result="composite" operator="in" in2="blur"/>
                                <feBlend result="blend" in="SourceGraphic"/>
                              </filter>
                            </defs>
                            <path class="i-play" d="M729.367,744l-13-9.75v19.5ZM699,744a21.673,21.673,0,1,0,6.348-15.285A20.829,20.829,0,0,0,699,744Zm4.367,0a17.337,17.337,0,1,1,5.078,12.289A16.738,16.738,0,0,1,703.367,744Z" transform="translate(-692 -717)"/>
                          </svg>
                      </span>
                      <span class="overlay"></span>
                  </a>
                  <span class="title">Just discover the perfect road in Alaska</span>
                  <span class="date">27 February 2017</span>
              </div>
          </div>
      </div>
  </div>
</div>
