<div class="widget collapsible-widget">
  <div class="widget-header">
    <span class="title with-icon"><i class="zmdi zmdi-calendar-note"></i>Motoring Events</span>
  </div>
  <div class="widget-body">
    <span class="title">Trending</span>
    <ul class="widget-items-list list">
      <li>
        <i class="zmdi zmdi-arrow-right-top"></i>
        <p><a href="#">Weekend Derby</a> - Purus lorem sagittis mi, non bibendum purus dolor ut morbi consectetur, turpis non porta.</p>
      </li>
      <li>
        <i class="zmdi zmdi-arrow-right-top"></i>
        <p><a href="#">Endurance Dirt Rally</a> - Sagittis mi, non bibendum purus dolor ut morbi turpis non porta.</p>
      </li>
      <li>
        <i class="zmdi zmdi-arrow-right-top"></i>
        <p><a href="#">Inboard Boats Showoff</a> - Non  purus dolor ut morbi consectetur.</p>
      </li>
      <li>
        <i class="zmdi zmdi-arrow-right-top"></i>
        <p><a href="#">944 & 924 Meet 2017</a> - Purus lorem sagittis mi, non bibendum pur efficitur est et aliquam congue.</p>
      </li>
    </ul>
    <a href="#" class="link-more">See More</a>
  </div>
</div>
