// Path's
$images-path: '';
$icon-path: 'icons/';

// Typography
$base-font-family-texta-heavy: 'Conv_Latinotype - Texta-Heavy_0';
$base-font-family-texta-medium: 'Conv_Latinotype - Texta-Medium_0';
$base-font-family-texta-bold: 'Conv_Latinotype - Texta-Bold_0';
$base-font-family-proxima-nova-regular: 'Conv_ProximaNova-Regular';
$base-font-family-proxima-nova-regularIt: 'Conv_ProximaNova-RegularItalic';
$base-font-family-proxima-nova-semibold: 'Conv_ProximaNova-Semibold';
$base-font-family-proxima-nova-bold: 'Conv_ProximaNova-Bold';

// General
$overlay-bg: rgba(13, 13, 14, .4);

// Splash Register/Login pages