<div class="widget-items-list">
  <div class="item boxed-item">
    <a class="avatar-container" href="#">
      <img class="avatar-img" src="../assets/bmw-car-navigation-driving-13781.jpg" alt="">
    </a>
    <div class="info-container">
      <a class="item-title" href="#">Bmw Motorsport</a>
      <span class="item-location">London</span>
      </div>
  </div>
  <div class="item boxed-item">
    <a class="avatar-container" href="#">
      <img class="avatar-img" src="../assets/car-dashboard-photo-132944.jpg" alt="">
    </a>
    <div class="info-container">
      <a class="item-title" href="#">Peugeot Official</a>
      <span class="item-location">Paris</span>
    </div>
  </div>
  <div class="item boxed-item">
    <a class="avatar-container" href="#">
      <img class="avatar-img" src="../assets/woman-in-white-shirt-near-in-green-beetle-car-167890.jpg" alt="">
    </a>
    <div class="info-container">
      <a href="#" class="item-title">Classic Kaffer</a>
      <span class="item-location">London</span>
    </div>
  </div>
  <div class="item boxed-item">
    <a href="#" class="avatar-container">
      <img class="avatar-img" src="../assets/lights-long-exposure-highway-red-31642.jpg" alt="">
    </a>
    <div class="info-container">
      <a href="#" class="item-title">Imola Racing Official</a>
      <span class="item-location">Imola</span>
    </div>
  </div>
</div>
<a href="#" class="link-more">See More</a>
