<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="aboutTab">
  <div class="main-container">
    <%= render partial: 'sidebar_container' %>
    <div class="content-container mobile-order-1">
      <%= render partial: 'motor_description', locals: { parent: 'about' } %>
    </div>
  </div>
</div>
