<!-- Multiple comments of the post -->

<div class="comment-item">
  <div class="comment-header">
    <div class="avatar-container">
      <img class="avatar-img" src="../assets/avatars/user-6-avatar.jpg" alt="">
    </div>
    <div class="comment-info">
      <span class="user-name"><a href="#">Jason Woodrow</a></span>
      <span class="posted-by">Yesterday at 12:49 am</span>
    </div>
    <a href="#" class="btn-settings"><i class="zmdi zmdi-more-vert"></i></a>
  </div>
  <div class="comment-body">
    <p>Phasellus aliquet porttitor sapien, ac varius felis hendrerit vel. Proin vel enim id arcu luctus ornare. Integer at purus accumsan, consequat neque id, convallis dui.</p>
  </div>
  <div class="comment-footer">
    <ul class="comment-menu">
      <li><a href="#">Like</a></li>
      <li><a href="#">Reply</a></li>
    </ul>
  </div>
  <div class="replies-container">
    <div class="comment-item">
      <div class="comment-header">
        <div class="avatar-container">
          <img class="avatar-img" src="../assets/avatars/user-5-avatar.jpg" alt="">
        </div>
        <div class="comment-info">
          <span class="user-name"><a href="#">Amanda Foxx</a></span>
          <span class="posted-by">Yesterday at 02:55 am</span>
        </div>
        <a href="#" class="btn-settings"><i class="zmdi zmdi-more-vert"></i></a>
      </div>
      <div class="comment-body">
        <p>Suspendisse condimentum arcu eget nisi accumsan, ut molestie enim aliquam. Vivamus gravida, neque eget accumsan condimentum, purus lorem sagittis mi, non bibendum purus dolor ut est. Morbi consectetur, turpis non porta aliquet, mauris mauris cursus sapien.</p>
      </div>
      <div class="comment-footer">
        <ul class="comment-menu">
          <li><a href="#">Like</a></li>
          <li><a href="#">Reply</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
