<div class="widget collapsible-widget">
  <div class="widget-header">
    <span class="title with-icon"><i class="zmdi zmdi-globe-lock"></i>Motor Privacy</span>
  </div>
  <div class="widget-body">
    <ul class="select-list">
      <li>
        <div class="styled-checkbox">
          <input type="radio" id="openEvent1" name="eventType1" value="0" checked>
          <label for="openEvent1">
            <span class="checkbox"></span>
            <span class="title">Public</span>
            <span class="description">Visible for everyone</span>
          </label>
        </div>
      </li>
      <li>
        <div class="styled-checkbox">
          <input type="radio" id="byRequestEvent1" name="eventType1" value="1">
          <label for="byRequestEvent1">
            <span class="checkbox"></span>
            <span class="title">Share with followers</span>
            <span class="description">Visible only for my followers</span>
          </label>
        </div>
      </li>
      <li>
        <div class="styled-checkbox">
          <input type="radio" id="privateEvent1" name="eventType1" value="2">
          <label for="privateEvent1">
            <span class="checkbox"></span>
            <span class="title">Private</span>
            <span class="description">Visible only for me</span>
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
