.post-add-container {
  .post-add-body {
    display: flex;
    align-items: center;
    padding: 20px;

    .avatar-container {
      width: 50px;
      height: 50px;
      flex: none;
      border: none;
      margin: 0 10px 0 0;
    }
    .text-field-container {
      width: 100%;

      textarea {
        width: 100%;
        font: {
          family: $base-font-family-proxima-nova-regular;
          size: 14px;
        };
        color: #aeaeae;
        vertical-align: middle;
        border: none;
        resize: none;
        overflow: hidden;

        &::placeholder {
          font: {
            family: $base-font-family-proxima-nova-regular;
            size: 14px;
          };
          color: #aeaeae;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .post-add-footer {
    display: flex;
    align-items: center;

    .footer-post-menu {
      width: 100%;
      display: flex;
      align-self: stretch;
      padding-left: 20px;
      background-color: #f6f8fa;
      border-top: 1px solid #ececec;

      .post-menu {
        margin: auto 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;

        li {
          display: inline-block;

          a {
            display: flex;
            align-items: center;
            height: 22px;
            text-decoration: none;

            &.badge {
              &.badge-primary {
                color: #f6f8fa;
                font: {
                  family: $base-font-family-texta-heavy;
                  size: 12px;
                }
                background-color: #b7b7b7;
                text-transform: uppercase;
                transition: all .5s 0s;
              }
            }
            &:hover {
              .zmdi {
                color: #ed1f24;
              }
              &.badge {
                &.badge-primary {
                  background-color: #ed1f24;
                }
              }
            }

            .zmdi {
              font-size: 27px;
              color: #b7b7b7;
              transition: all .5s 0s;
            }
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
    .button-container {
      display: flex;
      width: 105px;
      flex: none;
      align-self: stretch;
      align-items: stretch;

      .btn {
        display: flex;
        width: 100%;
        border: {
          top-left-radius: 0;
          top-right-radius: 0;
          bottom-left-radius: 0;
        };

        span {
          margin: auto;
        }
      }
    }
  }
}