.main-splash {

  .splash-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms 0s;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}